version: '3.8'
services:
  app:
    container_name: qdrant-api
    image: vontainment/v-gpt-qdrant-api:main # Use your appropriate image
    hostname: qdrant-api
    restart: unless-stopped
    ports:
      - "8077:80"
    depends_on:
      - qdrant
    environment:
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      EMBEDDINGS_MODEL: text-embedding-3-small
      QDRANT_HOST: http://qdrant:6333
      # API_KEY: # Optional api key. If set will need key to connect to endpoints.
      QDRANT_API_KEY: xtfpouszusdsdsozlzlwdwac
      BASE_URL: http://qdrant-api

  qdrant:
    image: langgenius/qdrant:latest
    container_name: qdrant
    restart: always
    # ports:
       # - "8060:6333"
    environment:
      QDRANT_API_KEY: xtfpouszusdsdsozlzlwdwac
    volumes:
      - qdrant-data:/qdrant/storage
      - qdrant-config:/qdrant/config/

volumes:
  qdrant-data:
  qdrant-config:
